package ${obj.control.javaPathParent};

import ${obj.service.javaPath};
import ${obj.entityVO.javaPath};
import org.springframework.web.bind.annotation.CrossOrigin;
import org.springframework.web.bind.annotation.RestController;
import org.springframework.beans.factory.annotation.Autowired;
import com.github.pagehelper.PageHelper;
import com.haichao.annotations.permissions.Permission;
import java.util.List;
import com.haichao.page.PageFind;
import com.haichao.page.PageFindParam;
import com.haichao.result.BaseJsonVo;
import org.springframework.web.bind.annotation.*;
import javax.servlet.http.HttpServletRequest;
@RestController
@CrossOrigin
public class ${obj.control.nameUppeCase}{
        @Autowired
        private  ${obj.service.nameUppeCase}  ${obj.service.nameLowerCase};
        /**
        * 查询List
        */
        @PostMapping(value = "/${obj.proCategory}/${obj.proModle}/${obj.entityUlrName}/findList")
        @Permission(nameApi = "", codeApi = "")
        public Object findList(HttpServletRequest request,@RequestBody PageFindParam<${obj.entityVO.nameUppeCase}> pageFindParam){
                if(pageFindParam.getPageNum()!=0&&pageFindParam.getPageSize()!=0){
                    PageHelper.startPage(pageFindParam.getPageNum(),pageFindParam.getPageSize());
                    List<${obj.entityVO.nameUppeCase}> list=${obj.service.nameLowerCase}.findList(pageFindParam.getFindParams());
                    return new PageFind(list);
                }else{
                     List<${obj.entityVO.nameUppeCase}> list=${obj.service.nameLowerCase}.findList(pageFindParam.getFindParams());
                return list;
                }
        }
        /**
         * 根据ID查询
         */
        @PostMapping(value = "/${obj.proCategory}/${obj.proModle}/${obj.entityUlrName}/findById")
        @Permission(nameApi = "", codeApi = "")
        public ${obj.entityVO.nameUppeCase} findById(HttpServletRequest request,@RequestParam("cguid")String cguid){
                return ${obj.service.nameLowerCase}.findById(cguid);
        }
        /**
         * 根据ID删除
         */
        @PostMapping(value = "/${obj.proCategory}/${obj.proModle}/${obj.entityUlrName}/deleteById")
        @Permission(nameApi = "", codeApi = "")
        public BaseJsonVo deleteById(HttpServletRequest request,@RequestParam("cguid")String cguid){
                return ${obj.service.nameLowerCase}.deleteById(cguid);
         }
        /**
         * 新增
         */
        @PostMapping(value = "/${obj.proCategory}/${obj.proModle}/${obj.entityUlrName}/add")
        @Permission(nameApi = "", codeApi = "")
        public BaseJsonVo add(HttpServletRequest request,@RequestBody ${obj.entityVO.nameUppeCase} entity){
                return ${obj.service.nameLowerCase}.add(entity);
        }

        /**
         *  更新
         */
        @PostMapping(value = "/${obj.proCategory}/${obj.proModle}/${obj.entityUlrName}/update")
        @Permission(nameApi = "", codeApi = "")
        public BaseJsonVo update(HttpServletRequest request,@RequestBody ${obj.entityVO.nameUppeCase} entity){
                return ${obj.service.nameLowerCase}.add(entity);
        }
}