package ${obj.service.javaPathParent};
import ${obj.entityVO.javaPath};
import com.haichao.result.BaseJsonVo;
import java.util.List;
import java.util.Map;
public interface  ${obj.service.nameUppeCase}{
        List<${obj.entityVO.nameUppeCase}> findList(Map<String, Object> findParam);
        /**
         * 根据ID查询
         */
        ${obj.entityVO.nameUppeCase} findById(String cguid);
        /**
         * 根据ID删除
         */
        BaseJsonVo deleteById(String cguid);
        /**
         * 新增
         */
        BaseJsonVo add( ${obj.entityVO.nameUppeCase} entity);
        /**
         *  更新
         */
        BaseJsonVo update(${obj.entityVO.nameUppeCase} entity);
}